#navi {
    justify-content: flex-start;
}
#navi * {
    margin: 10px 10px;
}
#top-bar * {
    text-align: center;
}
.two-columns {
    display: flex;
    flex-direction: row;
}
.left-column {
    margin-top: 30px;
    width: 50%;
    padding-right: 30px;
}
.right-column {
    width: 50%;
    margin-top: 40px;
}
#progress {
    width: 80%;
    visibility: hidden;
}
#console {
    margin: 30px 0;
    display: block;
    height: 300px;
    flex-wrap: wrap;
    padding: 20px 20px 0px 20px;
    overflow: auto;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.secondary {
    background-color: #596b78;
    border-color: #596b78;
    color: white;
}
.outline{
    border-color: #596b78;
    color: #596b78;
    background-color: transparent;
}

#demo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    /*margin-bottom: 50px;*/
}

#demo-select {
    width: 50%;
}

#demo-src {
    width: 20%;
}

#src {
    display: none;
    overflow: auto;
    background: none;
    font-size: 16px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .two-columns {
        display: flex;
        flex-direction: column;
    }
    .right-column {
        width: 100%;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .left-column {
        margin-top: 10px;
        width: 100%;
    }
    #console {
        margin: 0;
    }

    /*#control {*/
    /*    display: flex;*/
    /*    flex-direction: row;*/
    /*    align-items: center;*/
    /*}*/
    /*#upload {*/
    /*    margin-left: 30px;*/
    /*    margin-top: 0;*/
    /*}*/
    /*#upload p {*/
    /*    margin: 0;*/
    /*}*/
    #file-selector {
        margin-bottom: 0;
    }
    #progress {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 0;
    }
}